body {
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 40px;
    height: 30px;
    
}

td {
    text-align: center;
}
input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
input::placeholder {
    font-family: 'Courier New', Courier, monospace; 
}

.completed {
    text-decoration: line-through;
    color: red;
}

.form-wrapper {
    display: inline-flex;
    margin-bottom: 50px;
}

.form-wrapper div {
    margin-right: 15px;
}
.form-wrapper div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form-wrapper-phone {

}




